* {
	font-family: arial;
}

h2 {
	text-align: center;
}

/* #################### */

#mastermind {

}

#mastermind.hover {
	cursor: pointer;
}

#mastermind canvas {
	display: block;
	margin: 0 auto;
	background-color: black;
}

#mastermind .ui {
	display: block;
	margin: 0 auto;
	width: 400px;
	margin-top: 10px;
}

#mastermind .ui .reset-btn,
#mastermind .ui .check-btn {
	padding: 10px;
	border: 1px solid black;
	background-color: grey;
	color: white;
	margin-right: 5px;
}